@font-face {
  font-family: "Robus-BWqOd";
  src: url("./assets/fonts/Robus-BWqOd.otf") format("opentype");
}
@font-face {
  font-family: "Audiowide-Regular";
  src: url("./assets/fonts/Audiowide-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "BungeeTint-Regular";
  src: url("./assets/fonts/BungeeTint-Regular.ttf") format("opentype");
}

body {
  margin: 0;
}

.bg {
  position: relative;
}

canvas {
  display: block;
}

#blocker {
  position: fixed;
  width: 65%;
  height: 65%;
  background: url(./assets/images/hud3.png) no-repeat center center;
  background-size: cover;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: none; /* Hide the crosshair by default */
}

#playButton {
  font-family: "BungeeTint-Regular";
  font-size: 5vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 14px 48px;
  border-radius: 12px;
}

#playButton > h1 {
  font-family: "BungeeTint-Regular";
  font-size: 95%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  text-align: center;
  padding: 18px 12px;
  cursor: pointer;
}

#blood-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/images/blood_splash.png") center/cover;
  opacity: 0; /* Hidden by default */
  pointer-events: none; /* Ensures it doesn't block player interactions */
  transition: opacity 0.3s ease-out;
  z-index: 9999; /* Ensures it's on top of everything */
}

p {
  font-family: Arial;
  font-size: medium;
  text-align: center;
}

@media (max-width: 900px) {
  /* Styles for mobile devices with a maximum width of 767px */
  #playButton {
    font-family: "BungeeTint-Regular";
    font-size: 15vw; /* Adjust the font size as per your preference */
  }

  p {
    font-size: 4vw;
  }
}

/* 🌟 Fullscreen Splash Screen */
#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/images/splash_screen.png");
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 1s ease-out;
  font-family: "Audiowide-Regular";
  font-size: 45px;
}

#splashScreen h1 {
  font-size: 3em;
  margin-bottom: 0;
  color: rgb(253, 0, 0);
}
/* 📊 Loading Bar */
#loadingBarContainer {
  width: 300px;
  height: 10px;
  background: gray;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 12px;
  border: 4px solid white;
}
#loadingProgress {
  width: 0%;
  height: 100%;
  background: lime;
}
#player-hud {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 380px;
  padding: 35px 35px;
  background: url(./assets/images/hud2.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Audiowide-Regular", sans-serif;
  color: white;
  font-size: 14px;
}

#player-health-bar {
  width: 60%;
}

#player-health-bar p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: azure;
  margin-bottom: 4px;
  font-family: "Audiowide-Regular", Courier, monospace;
}

#player-health {
  width: 100%;
  height: 12px;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff6600
  ); /* Red to orange gradient */
  border-radius: 6px;
  transition: width 0.3s ease-in-out; /* Smooth width change */
}

#player-health > img {
  height: auto;
  width: 25px;
  margin-bottom: 4px;
}

#ammoHUD > p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Audiowide-Regular", Courier, monospace;
}

#ammoHUD > p > img {
  height: auto;
  width: 25px;
  /* margin-bottom: 4px; */
}

#ammoHUD {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  font-family: Arial, sans-serif;
  background: url(./assets/images/hud2.png) no-repeat center center;
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
}

/* Spider HUD */
#spider-hud {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 15px;
  background: url(./assets/images/hud2.png) no-repeat center center;
  background-size: cover;
  color: white;
  font-size: 12px;
  font-family: "Audiowide-Regular", sans-serif;
  text-align: center;
  height: 44px;
}

#spider-hud p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin: 0;
  margin-top: 6px;
  font-family: "Audiowide-Regular", Courier, monospace;
}

/* Game Over Popup */
#game-over-popup,
#game-won-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 60px;
  background: url(./assets/images/hud3.png) no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 240px;
  display: none;
  font-family: "Audiowide-Regular", Courier, monospace;
}

#game-over-popup h2 {
  margin-top: 6%;
  margin-top: 10%;
  color: #631c80;
  font-family: "Audiowide-Regular", Courier, monospace;
}

#game-over-popup button {
  padding: 10px 15px;
  border: none;
  background: #0382a1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  margin-top: 6%;
}

#game-over-popup button:hover {
  background: #cc0000;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#ui,
.menu,
.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  color: white;
  z-index: 99999;
}
.hidden {
  display: none !important;
}
button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #191c29; */
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 15px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

#levelButtons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.disabled-card {
  pointer-events: none;
  opacity: 0.4;
  filter: grayscale(100%);
}

.okl {
  position: absolute;
  top: 0;
  left: 150px;
}

.okl1 {
  position: absolute;
  top: 0;
  left: 0;
}

.okl2 {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.wallet-info {
  position: absolute;
  color: white;
}
